<%- include('include/header.ejs') %>
  <div class="container py-md-5 container--narrow">
    <%-include('include/flash.ejs')%>
    <%-include('include/sharedfollowheader.ejs')%>
    <%-include('include/common-follow.ejs')%>

  </div>
  <%- include('include/footer.ejs') %>